.fit-cover {
  object-fit: cover;
}

#p-head {
  text-align: center;
  margin-right: 19px;
  padding-right: 0px;
  margin-left: 1px;
}

#tb-cell {
  text-align: center;
}

#p-email {
  text-align: center;
}

#inp {
  box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-top: 4px;
  width: 750px;
  height: 37.2px;
  border-style: solid;
  border-color: rgb(141,143,145);
}

#inp-1 {
  border-style: solid;
  border-color: rgb(141,143,145);
  border-radius: 8px;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
  width: 750px;
  height: 37.2px;
}

#div-mk {
  text-align: center;
}

#div-email {
  text-align: center;
}

#btn-gmail {
  color: rgb(0,0,0);
  background: rgb(255,255,255);
  border-width: 1.8px;
  border-color: rgb(123,124,125);
}

#btn-gmail-1 {
  color: rgb(255,255,255);
  margin-top: 19px;
}

#card-login {
  width: 1200.4px;
  height: 481.5px;
  border-radius: 21px;
  box-shadow: 0px 5px 10px 2px rgb(148,150,152);
}

#div-card {
  text-align: center;
}

